# Python Advance Programming Assignment_1.ipynb

### 1. Given a list of numbers, create a function that removes 25% from every number in the list except the smallest number, and adds the total amount removed to the smallest number.

Examples

show_the_love([4, 1, 4]) ➞ [3, 3, 3]

show_the_love([16, 10, 8]) ➞ [12, 7.5, 14.5]

show_the_love([2, 100]) ➞ [27, 75]

In [5]:
def show_the_love(input_list):
    removed_portion = 0
    for idx, item in enumerate(input_list):
        if item != min(input_list):
            input_list[idx] = item*.75
            removed_portion += item*.25
    min_value_index = input_list.index(min(input_list))
    input_list[min_value_index] = input_list[min_value_index]+removed_portion
    return input_list

In [6]:
show_the_love([4,1,4])

[3.0, 3.0, 3.0]

In [7]:
show_the_love([16,10,8])

[12.0, 7.5, 14.5]

In [8]:
show_the_love([2,100])

[27.0, 75.0]

### 2. Create a function that takes in two words as input and returns a list of three elements, in the following order:

   1.Shared letters between two words.
   2.Letters unique to word 1.
   3.Letters unique to word 2.

Each element should have unique letters, and have each letter be alphabetically sorted.

Examples

letters("sharp", "soap") ➞ ["aps", "hr", "o"]

letters("board", "bored") ➞ ["bdor", "a", "e"]

letters("happiness", "envelope") ➞ ["enp", "ahis", "lov"]

letters("kerfuffle", "fluffy") ➞ ["flu", "ekr", "y"]

#Even with multiple matching letters (e.g. 3 f's), there should 

#only exist a single "f" in your first element.

letters("match", "ham") ➞ ["ahm", "ct", ""]

#"ham" does not contain any letters that are not found already 

#in "match".

In [16]:
word1 = "kerfuffle"
word2 = "fluffy"

In [36]:
def letters(word1, word2):
    output_list = []
    shared_letters = [x for x in word1 if x in word2]
    unique_in_word1 = [x for x in word1 if x not in word2]
    unique_in_word2 = [x for x in word2 if x not in word1]
    shared_letters = list(set(shared_letters))
    unique_in_word1 = list(set(unique_in_word1))
    unique_in_word2 = list(set(unique_in_word2))
    shared_letters.sort()
    unique_in_word1.sort()
    unique_in_word2.sort()
    output_list.append("".join(shared_letters))
    output_list.append("".join(unique_in_word1))
    output_list.append("".join(unique_in_word2))
    return output_list

In [37]:
letters("sharp", "soap")

['aps', 'hr', 'o']

In [38]:
letters("board", "bored")

['bdor', 'a', 'e']

In [39]:
letters("happiness", "envelope")

['enp', 'ahis', 'lov']

In [40]:
letters("kerfuffle", "fluffy")

['flu', 'ekr', 'y']

In [41]:
letters("match", "ham")

['ahm', 'ct', '']

### 3. Write a function that pairs the first number in an array with the last, the second number with the second to last, etc.

Examples

pairs([1, 2, 3, 4, 5, 6, 7]) ➞ [[1, 7], [2, 6], [3, 5], [4, 4]]

pairs([1, 2, 3, 4, 5, 6]) ➞ [[1, 6], [2, 5], [3, 4]]

pairs([5, 9, 8, 1, 2]) ➞ [[5, 2], [9, 1], [8, 8]]

pairs([]) ➞ []

In [60]:
def pairs(input_list):
    result = []
    for idx, item in enumerate(input_list):
        pair = []
        if idx != len(input_list)-idx and idx<(len(input_list)-idx):
            pair.append(input_list[idx])
            pair.append(input_list[::-1][idx])
        if pair:
            result.append(pair)
    return result

In [61]:
pairs([1, 2, 3, 4, 5, 6, 7])

[[1, 7], [2, 6], [3, 5], [4, 4]]

In [62]:
pairs([1, 2, 3, 4, 5, 6])

[[1, 6], [2, 5], [3, 4]]

In [63]:
pairs([])

[]

### 4. Write a function that adds two numbers. The catch, however, is that the numbers will be strings.

Examples

add_str_nums("4", "5") ➞ "9"

add_str_nums("abcdefg", "3") ➞ "-1"

add_str_nums("1", "") ➞ "1"

add_str_nums("1874682736267235927359283579235789257", "32652983572985729") ➞ "1874682736267235927391936562808774986"

In [90]:
def add_str_nums(num1, num2):
    if (num1+num2).isnumeric():
        try:
            return str(int(num1)+int(num2))
        except ValueError:
            if num1:
                return num1
            else:
                return num2
    else:
        return -1

In [91]:
add_str_nums("", "1")

'1'

In [92]:
add_str_nums("4", "5")

'9'

In [93]:
add_str_nums("qweqwe", "4")

-1

In [94]:
add_str_nums("1874682736267235927359283579235789257", "32652983572985729")

'1874682736267235927391936562808774986'

### 5. lPaeesh le pemu mnxit ehess rtnisg! Oh, sorry, that was supposed to say: Please help me unmix these strings!

Somehow my strings have all become mixed up; every pair of characters has been swapped. Help me undo this so I can understand my strings again.

Examples

unmix("123456") ➞ "214365"

unmix("hTsii  s aimex dpus rtni.g") ➞ "This is a mixed up string."

unmix("badce") ➞ "abcde"

In [95]:
string = "hTsii s aimex dpus rtni.g"

In [102]:
list1 = []
list2 = []
for i in range(0, len(string),2):
    list1.append(string[i])
for i in range(1, len(string),2):
    list2.append(string[i])

In [109]:
0/2

0.0

In [111]:
1/3

0.3333333333333333

In [104]:
list2

['T', 'i', ' ', ' ', 'i', 'e', ' ', 'p', 's', 'r', 'n', '.']

In [105]:
unmix_string = ""
max_len = max(len(list1), len(list2))

In [106]:
max_len

13

In [108]:

for i in range(max_len):
    try:
        unmix_string += list2[i]
        unmix_string += list1[i]
    except:
        unmix_string += list1[i]
        
print(unmix_string)

This i siaem xpdsur nt.iThis i siaem xpdsur nt.ig

In [119]:
string = "hTsii s aimex dpus rtni.g"
unmix_string = ""
for idx in range(len(string),2):

SyntaxError: unexpected EOF while parsing (<ipython-input-119-a44bef10a8e0>, line 4)

In [127]:
string[0:2][::-1]

'Th'

In [128]:
string[2:4][::-1]

'is'