# Python Advance Programming Assignment_3.ipynb

### 1. Create a function to perform basic arithmetic operations that includes addition, subtraction, multiplication and division on a string number (e.g. "12 + 24" or "23 - 21" or "12 // 12" or "12 * 21").

Here, we have 1 followed by a space, operator followed by another space and 2. For the challenge, we are going to have only two numbers between 1 valid operator. The return value should be a number.

eval() is not allowed. In case of division, whenever the second number equals "0" return -1.

For example:

"15 // 0"  ➞ -1

Examples

arithmetic_operation("12 + 12") ➞ 24 // 12 + 12 = 24

arithmetic_operation("12 - 12") ➞ 24 // 12 - 12 = 0

arithmetic_operation("12 * 12") ➞ 144 // 12 * 12 = 144

arithmetic_operation("12 // 0") ➞ -1 // 12 / 0 = -1

In [1]:
def addition(a, b):
    result = a + b
    return result

def division(a, b):
    result = a // b
    return result

def subtraction(a, b):
    result = a - b
    return result

def multiplication(a, b):
    result = a * b
    return result

In [2]:
def arithmetic_operation(expression_string):
    """This function will performe an arithmetic operation of a string number.
    Note:In the input expression string operator should be space separeted both right and left side,
    In case of division, whenever the second number equals "0" return -1"""
    arithmetic_operator = ["+", "-", "*", "//"]
    number_list = []
    for operator in arithmetic_operator:
        if operator in expression_string:
            for number in (expression_string.split(operator)):
                number_list.append(int(number.strip()))
            if operator == "+":
                return addition(number_list[0], number_list[1])
            elif operator == "-":
                return subtraction(number_list[0], number_list[1])
            elif operator == "*":
                return multiplication(number_list[0], number_list[1])
            elif operator == "//":
                if number_list[1]==0:
                    return -1
                else:
                    return division(number_list[0], number_list[1])

In [3]:
arithmetic_operation("12 - 12")

0

In [4]:
arithmetic_operation("12 * 12")

144

In [5]:
arithmetic_operation("12 // 0")

-1

### 2. Write a function that takes the coordinates of three points in the form of a 2d array and returns the perimeter of the triangle. The given points are the vertices of a triangle on a two-dimensional plane.

Examples

perimeter( [ [15, 7], [5, 22], [11, 1] ] ) ➞ 47.08

perimeter( [ [0, 0], [0, 1], [1, 0] ] ) ➞ 3.42

perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) ➞ 68.28

In [6]:
input_list =[ [15, 7], [5, 22], [11, 1] ]

In [7]:
def perimeter(list_of_coordinates):
    """This function will take coordinates of three points in 
    the form 2d array and as a return it will give us perimeter of the triangle"""
    side_a = ((list_of_coordinates[1][0]-list_of_coordinates[0][0])**2+((list_of_coordinates[1][1]-list_of_coordinates[0][1])**2))**.5
    side_b = ((list_of_coordinates[2][0]-list_of_coordinates[1][0])**2+((list_of_coordinates[2][1]-list_of_coordinates[1][1])**2))**.5
    side_c = ((list_of_coordinates[2][0]-list_of_coordinates[0][0])**2+((list_of_coordinates[2][1]-list_of_coordinates[0][1])**2))**.5
    return round(side_a+side_b+side_c, 2)

In [8]:
perimeter([ [15, 7], [5, 22], [11, 1] ])

47.08

In [9]:
perimeter( [ [0, 0], [0, 1], [1, 0] ] )

3.41

In [10]:
perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] )

68.28

### 3. A city skyline can be represented as a 2-D list with 1s representing buildings. In the example below, the height of the tallest building is 4 (second-most right column).

[[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],
[1, 1, 1, 1, 1, 1]]

Create a function that takes a skyline (2-D list of 0's and 1's) and returns the height of the tallest skyscraper.

Examples

tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
]) ➞ 3

tallest_skyscraper([
  [0, 1, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
]) ➞ 4

tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 0, 0, 0],
  [1, 1, 1, 0],
  [1, 1, 1, 1]
]) ➞ 2

In [11]:
def tallest_skyscraper(input_list):
    tallest_count = {}
    for idx_i in range(len(input_list)):
        for idx_j in range(len(input_list[idx_i])):
            if input_list[idx_i][idx_j]==1:
                try:
                    tallest_count[idx_j] = tallest_count[idx_j]+1
                except:
                    tallest_count[idx_j]=0
                    tallest_count[idx_j] = tallest_count[idx_j]+1
            else:
                pass
    return max(tallest_count.values())

In [12]:
tallest_skyscraper([ [0, 0, 0, 0], [0, 1, 0, 0], [0, 1, 1, 0], [1, 1, 1, 1] ])

3

In [13]:
tallest_skyscraper([ [0, 1, 0, 0], [0, 1, 0, 0], [0, 1, 1, 0], [1, 1, 1, 1] ])

4

In [14]:
tallest_skyscraper([ [0, 0, 0, 0], [0, 0, 0, 0], [1, 1, 1, 0], [1, 1, 1, 1] ])

2

### 4. A financial institution provides professional services to banks and claims charges from the customers based on the number of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus for each day claimed from customers in excess of a threshold target.

This quarterly scheme is calculated with a threshold target of 32 days per quarter, and the incentive payment for each billable day in excess of such threshold target is shown as follows:

<table style="width:30%">
  <tr>
    <th>Day</th>
    <th>Bonus</th>
  </tr>
  <tr>
    <td>0 to 32 days</td>
    <td>Zero</td>
  </tr>
  <tr>
    <td>33 to 40 days</td>
    <td>SGD-325 per billable day</td>
  </tr>
  <tr>
    <td>41 to 48 days</td>
    <td>SGD-550 per billable day</td>
  </tr>
  <tr>
    <td>Greater than 48 days</td>
    <td>SGD-600 per billable day</td>
  </tr>
</table>
Please note that incentive payment is calculated progressively. As an example, if an employee reached total billable days of 45 in a quarter, his/her incentive payment is computed as follows:

<p>32*0 + 8*325 + 5*550 = 5350</p>

Write a function to read the billable days of an employee and return the bonus he/she has obtained in that quarter.

Examples

bonus(15) ➞ 0

bonus(37) ➞ 1625

bonus(50) ➞ 8200

In [15]:
def bonus(billable_day):
    if billable_day<33:
        return 0
    elif billable_day>32 and billable_day<41:
        return (billable_day-32)*325
    elif billable_day>40 and billable_day<49:
        return 2600+(billable_day-40)*550
    elif billable_day>48:
        return 2600+4400+(billable_day-48)*600

In [16]:
bonus(15)

0

In [17]:
bonus(37)

1625

In [18]:
bonus(50)

8200

In [19]:
bonus(45)

5350

### 5. A number is said to be Disarium if the sum of its digits raised to their respective positions is the number itself.

Create a function that determines whether a number is a Disarium or not.

Examples

is_disarium(75) ➞ False
#7^1 + 5^2 = 7 + 25 = 32

is_disarium(135) ➞ True
#1^1 + 3^2 + 5^3 = 1 + 9 + 125 = 135

is_disarium(544) ➞ False

is_disarium(518) ➞ True

is_disarium(466) ➞ False

is_disarium(8) ➞ True

In [20]:
def is_disarium(input_number):
    result = 0
    for idx, digit in enumerate(str(input_number)):
        result += int(digit)**(idx+1)
    if result == input_number:
        return True
    else:
        return False

In [21]:
is_disarium(75)

False

In [22]:
is_disarium(135)

True

In [23]:
is_disarium(544)

False

In [24]:
is_disarium(518)

True

In [25]:
is_disarium(466)

False

In [26]:
is_disarium(8)

True