# Python Basic Assignment_1

### 1.What are the two values of the Boolean data type? How do you write them?

Two Value of boolean data type is "1" and "0". We use True for "1" and False for "0".

### 2. What are the three different types of Boolean operators?

and--> And operator

not--> Not operator

or--> Or operator

In [1]:
True and False

False

In [2]:
True or False

True

In [3]:
not False

True

### 3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

----- And Orerator's Truth Table ------
<table>
    <thead>
        <tr>
            <th>A</th>
            <th>B</th>
            <th>A and B</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="A">0</td>
            <td data-label="B">0</td>
            <td data-label="A and B">0</td>
        </tr>
        <tr>
            <td data-label="A">1</td>
            <td data-label="B">0</td>
            <td data-label="A and B">0</td>
        </tr>
        <tr>
            <td data-label="A">0</td>
            <td data-label="B">1</td>
            <td data-label="A and B">0</td>
        </tr>
        <tr>
            <td data-label="A">1</td>
            <td data-label="B">1</td>
            <td data-label="A and B">1</td>
        </tr>
    </tbody>
</table>



----- Or Orerator's Truth Table ------
<table>
    <thead>
        <tr>
            <th>A</th>
            <th>B</th>
            <th>A or B</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="A">0</td>
            <td data-label="B">0</td>
            <td data-label="A or B">0</td>
        </tr>
        <tr>
            <td data-label="A">1</td>
            <td data-label="B">0</td>
            <td data-label="A or B">1</td>
        </tr>
        <tr>
            <td data-label="A">0</td>
            <td data-label="B">1</td>
            <td data-label="A or B">1</td>
        </tr>
        <tr>
            <td data-label="A">1</td>
            <td data-label="B">1</td>
            <td data-label="A or B">1</td>
        </tr>
    </tbody>
</table>


----- And Orerator's Truth Table ------
<table>
    <thead>
        <tr>
            <th>A</th>
            <th>Not A</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="A">0</td>
            <td data-label="Not A">1</td>
        </tr>
        <tr>
            <td data-label="A">1</td>
            <td data-label="Not A">0</td>
    </tbody>
</table>

### 4. What are the values of the following expressions?
(5 > 4) and (3 == 5)

not (5 > 4)

(5 > 4) or (3 == 5)

not ((5 > 4) or (3 == 5))

(True and True) and (True == False)

(not False) or (not True)

### Ans:

(5 > 4) and (3 == 5) --><b>True</b>

not (5 > 4) --><b>False</b>

(5 > 4) or (3 == 5) --><b>False</b>

not ((5 > 4) or (3 == 5)) --><b>False</b>

(True and True) and (True == False) --><b>False</b>

(not False) or (not True) --><b>True</b>

### 5. What are the six comparison operators?

<table>
    <thead>
        <tr>
            <th>Operator</th>
            <th>Meaning</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th data-label="Operator">==</th>
            <th data-label="Meaning">Equal To</th>
        <tr>
        <tr>
            <th data-label="Operator">!=</th>
            <th data-label="Meaning">Not equal to</th>
        <tr>
        <tr>
            <th data-label="Operator"><</th>
            <th data-label="Meaning">Less than</th>
        <tr>
        <tr>
            <th data-label="Operator">></th>
            <th data-label="Meaning">Greater than</th>
        <tr>
        <tr>
            <th data-label="Operator"><=</th>
            <th data-label="Meaning">Less than or equal to</th>
        <tr>
        <tr>
            <th data-label="Operator">>=</th>
            <th data-label="Meaning">Greater than or equal to</th>
        <tr>           
    </tbody>
</table>

### 6. How do you tell the difference between the equal to and assignment operators? Describe a condition and when you would use one.

"=" --> It will be used when we are assigning a variable.
Example-

a=33; in this example we are assigning the value of a to 33.

name = "Deep Gupta"; in this example we are assigning the value of name variable to "Deep Gupta".

"==" --> It will be used to compare two variables. If the value of two variable are equal, it will return True otherwise it will return False.

Example-

5==4; in this example we are comparing 5 with 4, that they are equal in therms of their value.

#### Use case:

Assignment operation:

$a = 5

$b = 4

$a + b
 Here we are assigning a and b with two different value and then we are doing addition operation.
 
 Comparison Operation
 
 a = 5
 b = 5
 
 if a==b:
 
     print("a and b both are equal.")
 
 else:
 
     print("a and b are not equal.")

### 7. Identify the three blocks in this code:

spam = 0

if spam == 10:

print('eggs')

if spam > 5:

print('bacon')

else:

print('ham')

print('spam')

print('spam')

### Ans
#### Block 1

spam = 10

#### Block 2

if spam == 10:

    print('eggs')

#### Block 3

if spam > 5:

    print('bacon')

else:

    print('ham')

    print('spam')

    print('spam')

### 8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [4]:
spam = 5
if spam ==1:
    print("Hello")
elif spam==2:
    print("Howdy")
else:
    print("Greesting!")

Greesting!

### 9.If your programme is stuck in an endless loop, what keys youâ€™ll press?

### Ans
Ctrl+C

### 10. How can you tell the difference between break and continue?

In [5]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In the above example iterating the loop from 0 to 10, when the value of i is equal to 5 the loop will and exit the.

In [6]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In the above example, when value of i is equal to 5 it will skip the rest of the code and skip to the next iterator.

### 11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

rnage(10) --> Will return a list 0 to 10. Here we are not defining the starting value and the step by default it will start from zero with 1 step.

range(0,10) --> Here we are assigning the starting value to 0.

range(0,10,1) --> Here we are assigning the starting and step both the value.

### 12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

#### Using for loop

In [7]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

#### Using while loop

In [8]:
i = 1
while i<11:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

### 13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

--> By importing whole module

import spam

spam_object = spam()

spam_object.becon()

--> Only importing the bacon function

from spam import bacon

bacon()