# Python Programming Basic Assignment_23

### 1. Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [1]:
def isEven(number):
    if number%2 == 0:
        return True
    else:
        return False
    
def is_symmetrical(number):
    number_list = list(str(number))
    if isEven(len(number_list)):
        part_1 = number_list[:len(number_list)//2]
        part_2 = number_list[len(number_list)//2::][::-1]
        if part_1 == part_2:
            return True
        else:
            return False
    else:
        part_1 = number_list[:len(number_list)//2+1]
        part_2 = number_list[len(number_list)//2::][::-1]
        if part_1 == part_2:
            return True
        else:
            return False

In [2]:
is_symmetrical(7227)

True

In [3]:
is_symmetrical(123)

False

In [4]:
is_symmetrical(909090)

False

In [5]:
is_symmetrical(1112111)

True

### 2. Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples

multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [6]:
def multiply_nums(input_string):
    number_list = input_string.split(",")
    mult = 1
    for i in number_list:
        mult  *= int(i.strip())
    return mult

In [7]:
multiply_nums("1, 2, 3")

6

In [8]:
multiply_nums("54, 75, 453, 0")

0

In [9]:
multiply_nums("10,-2")

-20

### 3. Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes

The function receives an integer and must return an integer.

In [10]:
def square_digits(input_number):
    output_number = ""
    for digit in str(input_number):
        output_number += str(int(digit)**2)
    return int(output_number)

In [11]:
square_digits(9119)

811181

In [12]:
square_digits(2483)

416649

In [13]:
square_digits(3212)

9414

### 4. Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [14]:
def setify(input_list):
    output_list = list(set(input_list))
    return output_list

In [15]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

In [16]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

### 5. Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes
<ul>
    <li>The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).</li>
    <li>The mean will always be an integer.</li>
</ul>

In [17]:
def mean(number:int):
    number_string = list(str(number))
    digit_list = [int(x) for x in number_string]
    #print(digit_list)
    mean_ = sum(digit_list)/len(digit_list)
    return mean_

In [18]:
mean(42)

3.0

In [19]:
mean(12345)

3.0

In [20]:
mean(666)

6.0